<!doctype html>
<html lang="en">
<head>
	<%- include('../includes/head.ejs'); -%>
</head>
<body>
	<%- include('../includes/header.ejs'); -%>
	<main class="main" id="homePage">
		<section>
			<div class="uk-container">
				<div class="uk-grid">
					<h1>{{title}}</h1>
					<p>{{option_1}}</p>
				</div>
				<div class="uk-grid">
					<app-about></app-about>
				</div>
				<div class="uk-grid">

					<table ref="table">
						<thead>
							<tr>
								<th @click="sortByName()">Name</th>
								<th>Value</th>
							</tr>
						
						</thead>
						<tbody>
							<tr>
								<td>a</td>
								<td>4</td>
							</tr>
							<tr>
								<td>v</td>
								<td>2</td>
							</tr>
							<tr>
								<td>e</td>
								<td>9</td>
							</tr>
							<tr>
								<td>k</td>
								<td>7</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</section>
	</main>
	<%- include('../includes/footer.ejs'); -%>
</body>

</html>