<!doctype html>
<html lang="en">
<head>
    <%- include('../includes/head.ejs'); -%>
</head>
<body>
<%- include('../includes/header.ejs'); -%>
<main class="main" id="productPage">
    <section>
        <div class="uk-container">
            <div class="uk-grid">
                <h1>{{title}}</h1>
                <p>{{option_1}}</p>
            </div>
        </div>
    </section>
</main>
<%- include('../includes/footer.ejs'); -%>
</body>

</html>