<template>
    <div>
        <h3>{{caption}}</h3>
        <form action="">
            <input type="text">
            <button>Submit</button>
            <p>{{info}}</p>
        </form>
    </div>
</template>

<script>
    export default {
        name: "AppAbout",
        data() {
            return {
                caption: "Caption",
                info: "lorem ipsum"
            }
        }
    }
</script>