<footer class="footer">
    <div class="uk-container">
        <div class="test-el">lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Distinctio facere fugiat ipsa mollitia perferendis. Ad, asperiores corporis deserunt eveniet
            facilis laborum laudantiu</div>
    </div>
</footer>
<script src="/js/vendors.js"></script>
<script src="/js/main.js"></script>
